<!doctype html>
<html lang="en">
<head>
	<style>
		table, th, td {
			border: 1px solid black;
			white-space: nowrap;
		}

		table {
			border-collapse: collapse;
			width:100%;
		}

		th, td {
			text-align: left;
			padding: 8px;
		}

		th {
			background-color: #31465C;
			color: white;
		}

		.top-header-cell {
			text-align: center;
		}

		.total-header-cell {
			background-color: #3B3869;
			color: white;
			text-align: center;
		}

		.total-cell {
			background-color: #555180;
			color: white;
			text-align: center;
		}

		.hours-full {
		    background-color: white;
			text-align: center;
		}

		.hours-empty {
		    background-color: #E0E0E0;
		}
	</style>
</head>

<body>
<table>
    <tr>
	<td></td>
	{%- for item in Header -%}
	<th class="top-header-cell">{{item}}</th>
	{%- endfor -%}
	<td class="total-header-cell">Total</td>
    </tr>
	{%- for employee in Employees -%}
	<tr>
		<th>{{employee.Name}}</th>
		{%- for shift in employee.Shifts -%}
		<td class="{{ shift | shift_style }}">{{shift | hours}}</td>
		{%- endfor -%}
		<td class="total-cell">{{employee.total_hours | hours}}</td>
	</tr>
	{%- endfor -%}
</table>
</body>
</html>
